# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
.env

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage directory used by coverage.py
.coverage
coverage.xml

# Flask instance folder
instance/

# Flask and Django secret keys
*.key

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# MacOS
*.DS_Store
